.audio-player{
    width: 450px;
    margin: 1rem 0;
    padding: 1.5rem;
    background: linear-gradient(135deg,#2a2a2a,rgba(255, 255, 255, 0.1));
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    
}

.progress-container{
    margin-bottom: 1rem;
}

.progress-bar{
    height: 8px;
    background-color: #4a4a4a;
    border-radius: 4px;
    overflow: hidden;
}

.progress-fill{
    height:100%;
    background: linear-gradient(90deg, #4CAF50, #81C784);
    transition: width 0.3 ease;
    pointer-events: none; /* Non-seekable */
}

.time-display{
    font-size: 0.9rem;
    color: #e0e0e0;
    margin-top: 4px;
    text-align: left;
}

.controls{
    display: flex;
    justify-content: center;
    gap: 8rem;
    margin-top: 1rem;
}

.control-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
}

.control-item span{
    color: #e0e0e0;
    font-size: 0.85rem;
    text-align: center;
}

/* Round button style */
.audio-player button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: linear-gradient(135deg, #4CAF50, #66BB6A);
    color: white;
    border: none;
    cursor: pointer;
    transition: transform 0.2s, background 0.3s;
    box-shadow: 0 3px 6px rgba(0,0,0,0.25);
    font-size: 1.2rem;
}



.audio-player button:hover:not(:disabled){
    transition: scale(1.05);
    background: linear-gradient(90deg, #45a049, #66BB6A);
}

.audio-player button:disabled{
    background-color: #cccccc;
    cursor: not-allowed;
    opacity: 0.6;
}

@media (max-width: 480px){
    .audio-player button{
        padding: 0.8rem;
    }

    .controls{
        flex-direction: column;
        gap: 0.8rem;
    }

    .audio-player button{
        width: 100%;
        padding: 0.6rem;
    }
}