#root{
  width: 100%;/* width to whole screen*/
  min-height: 100vh;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
  text-align: center;
  background: linear-gradient(135deg,#1a1a1a,#0865ce);
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-card {
  width: 100%;
  max-width: 450px;
  margin: 1rem auto;
  padding: 1rem;
  background: linear-gradient(135deg, rgba(42,42,42,0.8),rgba(2, 63, 59, 0.8));
  border-radius: 35px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  color: white;
  position: relative;
  overflow: hidden;
  z-index: 8;
  box-sizing: border-box;
}

.auth-card::before{
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255,255,255,0.2),
    transparent
  ) ;
  animation: waveGlitter 7s ease-in-out infinite;
}

h1{
  font-size: 24px;
}

@keyframes waveGlitter{
  0% {transform: translateX(-100%);}
  50% {transform: translateX(100%);}
  100% {transform: translateX(-100%);}
}

.auth-card input{
  width: 100%;
  margin:0.5rem 0;
  border-radius: 12px;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 1rem;
  padding: 10px;
  outline: none;
  box-sizing: border-box;
}

.auth-card input:focus{
  border: 1px solid #fff;
}

.auth-card input::placeholder{
  color: #bbb;
  font-style: italic;
}

.auth-card p[aria-label="Forgot password link"]{
  cursor: pointer;
  text-decoration: underline;
  margin-top: 1rem;
  color:rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

.auth-card p[aria-label="Forgot password link"]:hover{
  color: #fff;
}

.auth-card p[aria-label="Forgot password link"]::after{
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0;
  border-radius: 6px;
  height: 1px;
  background: currentColor;
  transition: width 0.3s ease;
}

.auth-card p[aria-label="Forgot password link"]:hover::after{
  width: 100%;
}

.error{
  color: red;
  margin-top: 1rem;
}

.success{
  color: green;
  margin-top: 1rem;
}

.input-wrapper{
  position: relative;
  margin: 1.2rem 0;
  width: 100%;
}

.input:focus {
  box-shadow: 5.5px 7px 0 black;
}


.input-wrapper input{
  width: 100%;
  padding: 0.9rem 2.5rem 0.9rem 2.5rem;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: rgba(255,255,255,0.1);
  color: white;
  box-sizing: border-box;
}

.input-wrapper label{
  position: absolute;
  left: 2.5rem;
  top: 50%;
  transform: translateY(-50%);
  color: #bbb;
  pointer-events: none;
  transition: 0.2s ease all;
  font-size: 1rem;
}

.input-wrapper input:focus + label,
.input-wrapper label.float {
  top: -8px;
  left: 2.2rem;
  font-size: 0.75rem;
  color: #4CAF50;
  background: linear-gradient(135deg, rgba(42,42,42,0.8)), rgba(2,63,59,0.8);
  padding: 0 4px;
  border-radius: 4px;
}

.input-wrapper .icon{
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  color: #ccc;
  font-size: 1.2rem;
}

.auth-card input::placeholder{
  color: #ccc;
}

.auth-card h1{
  margin-bottom: 1rem;
}

.auth-card p{
  margin: 0.5rem 0;
}

.error{
  color: red;
  margin-top: 1rem;
}

.success{
  color: green;
  margin-top: 1rem;
}

button{
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  font-size: 0.95rem;
  cursor: pointer;
  background:linear-gradient(90deg, #14c5c5,#208ee1);
  color: white;
  border: none;
  border-radius: 45px;
  transition: transform 0.2s, background 0.3s;
}

button:hover:not(:disabled){
  transform: scale(1.05);
  background: linear-gradient(90deg,#17c2c2,#331bbe);
  transform: translateY(-7px);
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
}

button:disabled{
  background-color: #cccccc;
  cursor: not-allowed;
  opacity: 0.6;
}

@media (max-width: 480px){
  #root{
    padding: 0.5rem;
  }
  button{
    width: 100%;
    font-size: 0.9rem;
  }
  .auth-card{
    width: 100%;
  }
}
